[submodule "services/battle-service"]
	path = services/battle-service
	url = https://github.com/Ekkusuu/battle-service.git
[submodule "services/tamagotchi-service"]
	path = services/tamagotchi-service
	url = https://github.com/Ekkusuu/tamagotchi-service.git
[submodule "services/guild-service"]
	path = services/guild-service
	url = https://github.com/vikanicologlo/guild-service.git
[submodule "services/notification-service"]
	path = services/notification-service
	url = https://github.com/vikanicologlo/notification-service.git
[submodule "services/package-registry-service"]
	path = services/package-registry-service
	url = git@github.com:sabinapopescu/package-registry-service.git
[submodule "services/monster-raid-service"]
	path = services/monster-raid-service
	url = git@github.com:sabinapopescu/monster-raid-service.git
